.banner {
  margin-top: 5vh;
  height: 90vh;
  object-fit: contain;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.banner_title {
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;

  color: white;
}
.banner_description {
  /* padding-top:7rem; */
  margin-top: 10px;
  width: 450px;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  color: lavenderblush;
}
button {
  margin: 7px 10px 0;
  padding: 1rem 1.8rem;
  border-style: none;
  border-radius: 5%;
  font-size: 0.9rem;
  font-weight: 700;
}
.banner_button {
  background-color: rgba(185, 180, 180, 0.733);
  font-size: 1.2rem;
  width: 200px;
  padding: 25px 25px;
}

.banner_button_play {
  border: none;
  padding: 25px 40px;
  font-size: 1.5rem;
  width: 200px;
  box-shadow: 0 8px 16px 0 rgba(28, 108, 131, 0.2);
}

svg {
  font-size: 2.5rem !important;
  color: black;
  margin-left: 2%;
}
