.banner {
  margin-top: 5vh;
  height: 90vh;
  object-fit: contain;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.banner_title {
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;

  color: white;
}
.banner_description {
  padding-top:0.6rem;
  margin-top: 10px;
  width: 450px;
  font-size: 1.2rem;
  font-family: "Playfair Display", serif;
  color: lavenderblush;
}
button {
  border-style: none;
  border-radius: 5%;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}


.banner_button {
  background-color: rgba(185, 180, 180, 0.733);
}

.banner_button_play {
  border: none;
  padding: 15px 40px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(28, 108, 131, 0.2);

}
.banner_button_play:before{
    content: "\f04b";
}
